@charset "UTF-8";
/* CSS Document */



#title {width: 100%;
}

	
.text1
	{
	color:#999999;
	line-height:15px;
	}
	
.welcome, .text3
	{
	color:#C90;
	}
	
.welcomepack, .textpack
	{
	color:#C33;
	}
.welcomepos, .textpos
	{
	color:#935c93;
	}
	
.welcomeweb, .textweb
	{
	color:#429bdc;
	}

.welcomefine, .textfine
	{
	color:#74aa3f;
	}
	
.text1,.welcome, .welcomepack, .welcomepos, .welcomeweb, .welcomefine
	{
	font-size:12px;
	width:450px;
	}
	
.text3, .textpack, .textpos, .textweb, .textfine {
	font-size:15px;
	font-variant:small-caps;
	font-weight:200;
	}	
	
	
.project {
	font-size:11px;
	color:#999999;
	border-bottom: 1px solid #d6d6d6;
	}
	

	
.projtext {width:60px;
text-align:center}
	
	

.text2
	{
	font-size:11px;
	color:#999999;
}
	
.smallorange {
	font-size:12px;
	font-variant:small-caps;
	font-weight:200;
	color:#C90;
	}



.back {
font-style:oblique;
	font-size:12px;
	color:#C90;
	}

img.nohover {border:0}
img.hover {border:0;display:none}
A:hover img.hover {display:inline}
A:hover img.nohover {display:none}


img {border:0;
padding:0;}


a {border: 0;
	margin: 0;
	padding: 0}



table, tr, td {
	padding:0;
border:0;}
 

#DivPiece {
width:650px;
height: 100%;
}
.line1 {background-image:url(http://www.hodaradesign.com/graphics/line.gif);
background-repeat:repeat-y;
}
.line2 {background-image:url(http://www.hodaradesign.com/graphics/line2.gif);
background-repeat:repeat-y;
}
.line3 {background-image:url(http://www.hodaradesign.com/graphics/line3.gif);
background-repeat:repeat-y;
}
.line4 {background-image:url(http://www.hodaradesign.com/graphics/line4.gif);
background-repeat:repeat-y;
}
.line5 {background-image:url(http://www.hodaradesign.com/graphics/line5.gif);
background-repeat:repeat-y;
}
.lineg {background-image:url(http://www.hodaradesign.com/graphics/lineg.gif);
background-repeat:repeat-y;
}





	