@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

html {	height:100%; }

body {
	height:100%;
	background-color:#FFF;
	border:0;
	width: 100%;
	font-family:Helvetica Neue, Tahoma;
}

.container {
	display: flex;
  justify-content: center;
  align-items: stretch;
}

.bg-left, .bg-right {
  flex-grow: 1;
  background-repeat:repeat-x;
  position: relative;
  z-index: -1;
}

.bg-left {
  order: 0;
  background-image:url(images/bg.jpg);
}

.bg-right {
  order: 2;
  background-image:url(images/bg-flipped.jpg);
  background-position-x: right;
}

@media (min-width: 980px) {
  .bg-left span, .bg-right span {
    background-repeat: no-repeat;
    width: 30px;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
  }
  .bg-left span {
    background-image: url(images/left.png);
    right: 6px;
  }

  .bg-right span {
    background-image: url(images/right.png);
    left: 6px;
  }
}

.root {
  flex-grow: 12;
  order: 1;
  max-width: 1000px;
  height: 100%;
  box-shadow: 0 0 15px 10px #fff;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 4px 12px;
  box-shadow: 0px 1px 5px 1px #ccc;
  cursor: pointer;
  color: #eee;
  background: #222;
  line-height: 12px;
  vertical-align: bottom;  
}

.btn[disabled], .btn.disabled {
  background: #999;
  cursor: default;
}

.btn-lg {
  padding: 8px 16px;
}

.btn:not([disabled]):not(.disabled):not(.btn-text):hover {
  background: black;
  color: white;
}

.btn-header-right {
  position: absolute;
  top: 40px;
  right: 20px;
}

.shop {
  padding: 0 20px;
  margin-bottom: 100px;
}

.header {
  padding-top: 20px;
  padding-bottom: 50px; 
  position: relative; 
}

@media (max-width: 669px) {
  .header {
    padding-left: 6px;
  }
  .btn-header-right {
    right: 12px;
  }
}

@media (min-width: 670px) {
  .header {
    padding-left: 32px;
  }
}


.header .logo {
  background-image: url(images/hdlogo.jpg);
  display: inline-block;
  width: 150px;
  height: 74px;
  opacity: .75;
  background-size: 100%;
}
.header a.logo:hover {
  opacity: 1;
}

.thumbs {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;  
}

.thumbs li {
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 54px;
  overflow: hidden;
  border-radius: 2px;
  height: 80px;
  width: 110px;
  background-color: #eee;
}

.display {
  max-width: 600px;
  margin: 0 auto 60px;
}

.display-image {
  text-align: center;
}

.display-image img {
  max-width: 100%;
}

.display-description {
  font-size: 13px;
  color: #666;
  text-align: center;
}



/* /////////////////////////////////////////////*/
/* ////////////////// CHECKOUT //////////////// */
/* /////////////////////////////////////////////*/
/** Page-specific styles */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes void-animation-out {
  0%,
  to {
    opacity: 1;
  }
}

.checkout {
  position: relative;
  max-width: 500px;
  margin: 0 auto 100px;
}

.checkout.submitted form,
.checkout.submitting form {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

.checkout.submitted .success,
.checkout.submitting .success {
  pointer-events: all;
}

.checkout.submitting .success .icon {
  opacity: 1;
}

.checkout.submitted .success > * {
  opacity: 1;
  transform: none !important;
}

.checkout.submitted .success > :nth-child(2) {
  transition-delay: 0.1s;
}

.checkout.submitted .success > :nth-child(3) {
  transition-delay: 0.2s;
}

.checkout.submitted .success > :nth-child(4) {
  transition-delay: 0.3s;
}

.checkout.submitted .success .icon .border,
.checkout.submitted .success .icon .checkmark {
  opacity: 1;
  stroke-dashoffset: 0 !important;
}

.checkout .caption {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 15px 10px 0;
  color: #aab7c4;
  font-family: "Helvetica Neue", "Open Sans", "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.checkout .caption * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.checkout .caption .no-charge {
  color: #cfd7df;
  margin-right: 10px;
}

.checkout .caption a.source {
  text-align: right;
  color: inherit;
  transition: color 0.1s ease-in-out;
  margin-left: 10px;
}

.checkout .caption a.source:hover {
  color: #6772e5;
}

.checkout .caption a.source:active {
  color: #43458b;
}

.checkout .caption a.source  svg {
  margin-right: 10px;
}

.checkout .caption a.source svg path {
  fill: currentColor;
}

.checkout form {
  position: relative;
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.checkout form input::-webkit-input-placeholder {
  opacity: 1;
}

.checkout form input::-moz-placeholder {
  opacity: 1;
}

.checkout form input:-ms-input-placeholder {
  opacity: 1;
}

.checkout .error {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0;
  padding: 0 15px;
  font-size: 13px !important;
  opacity: 0;
  transform: translateY(10px);
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.checkout .error.visible {
  opacity: 1;
  transform: none;
}

.checkout .error .message {
  font-size: inherit;
}

.checkout .error svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: -1px;
  margin-right: 10px;
}

.checkout .success {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  pointer-events: none;
  overflow: hidden;
}

@media (min-width: 670px) {
  .checkout .success {
    padding: 80px 0;
  }
}

.checkout .success > * {
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  transform: translateY(50px);
}

.checkout .success .icon {
  margin: 15px 0 30px;
  transform: translateY(70px) scale(0.75);
}

.checkout .success .icon svg {
  will-change: transform;
}

.checkout .success .icon .border {
  stroke-dasharray: 251;
  stroke-dashoffset: 62.75;
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: spin 1s linear infinite;  
}

.checkout .success .icon .checkmark {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
}

.checkout .success .title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
}

.checkout .success .message {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1.6em;
}

.checkout .success .message span {
  font-size: inherit;
}

.checkout .success .reset:active {
  transition-duration: 0.15s;
  transition-delay: 0s;
  opacity: 0.65;
}

.checkout .success .reset svg {
  will-change: transform;
}

.checkout .fieldset {
  margin: 0 12px 30px;
  padding: 0;
  border-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;  
}

.checkout .field {
  padding: 10px 20px 11px;
  background-color: #7488aa;
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;  
  color: #fff;
}

.checkout .field.half-width {
  width: calc(50% - (5px / 2));
}

.checkout .field.third-width {
  width: calc(33% - (5px / 3));
}

@media (min-width: 670px) {
  .checkout .field.half-width-desktop {
    width: calc(50% - (5px / 2));
  }
  .checkout .field.third-width-desktop {
    width: calc(33% - (5px / 3));
  }
}


.checkout .field + .field {
  margin-top: 6px;
}

.checkout .field.focus,
.checkout .field:focus {
  background-color: #222;
}

.checkout .field::-webkit-input-placeholder,
.checkout .field::-webkit-input-placeholder {
  color: #cfd7df;
}

.checkout .field::-moz-placeholder,
.checkout .field::-moz-placeholder {
  color: #cfd7df;
}

.checkout .field:-ms-input-placeholder,
.checkout .field:-ms-input-placeholder {
  color: #cfd7df;
}

.checkout input, .checkout button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.checkout input::-webkit-input-placeholder {
  color: #fff;
}

.checkout input::-moz-placeholder {
  color: #fff;
}

.checkout input:-ms-input-placeholder {
  color: #fff;
}

.checkout .btn-submit {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 0 15px;
  background-color: #fcd669;
  border-radius: 20px;
  color: #525f7f;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px; 
  position: relative; 
}

.checkout button:active {
  background-color: #f5be58;
}

.checkout .error svg .base {
  fill: #fa755a;
}

.checkout .error svg .glyph {
  fill: #fff;
}

.checkout .error .message {
  color: #fa755a;
}

.checkout .success .icon .border {
  stroke: #fcd669;
}

.checkout .success .icon .checkmark {
  stroke: #fff;
}

.checkout .success .message {
  color: #9cabc8;
}

.checkout .success .reset path {
  fill: #000;
}

.checkout img.stripe  {
  position: absolute;
  top: 8px;
  right: 8px;
}

.cart-item-image {
  width: 70px;
  max-height: 50px;
  border-radius: 2px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}

.cart-item-count {
  vertical-align: top;
  height: 20px;
}

@media (min-width: 621px) {
  .cart-item-title {
    padding-top: 12px;
  }

  .cart-item-count {
    margin-left: 12px;
    margin-top: 12px;
  }

  .cart-item-remove {
    margin-top: 12px;
    margin-left: 12px;
    float: right;
  }
  .cart-item-price {
    padding-top: 12px;
    float: right;
  }
}

@media (max-width: 620px) {
  .cart-item-remove {
    margin-right: 12px;
  }

  .cart-item-image {
    float: left;
  }
}

/* HELPERS */
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.wide { display: block; }
@media (max-width: 620px) {
  .mobile-clear { clear: both; }
}
.text {
  color: #222;
  font-size: 14px;
  line-height: 20px;  
  letter-spacing: 1px;
}
.text:not(.wide) {
  display: inline-block;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.t-space { padding-top: 12px; }
.b-space { padding-bottom: 12px; }
.l-space { padding-left: 12px; }
.r-space { padding-right: 12px; }
.h-space {
  padding-left: 12px;
  padding-right: 12px;
}
.v-space {
  padding-top: 12px;
  padding-bottom: 12px;
}
.rm-space { margin-right: 12px }
.lm-space { margin-left: 12px }
.bm-space { margin-bottom: 12px }
.tm-space { margin-top: 12px }